.profile {
  display: block;
  width: 350px;
  background-color: #ffff;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  padding-top: 30px;
  border: 1px #366e91 solid;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  gap: 10px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.stats {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #ffff;

  padding-left: 0;
  margin-top: 15px;
  margin-bottom: 0;
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px #366e91 solid;
  border-left: 1px #366e91 solid;
  padding: 20px 25px;
  width: 70px;
  gap: 5px;
  height: 35px;
}

.stats li:first-child {
  border-left: 0;
}

.name {
  font-weight: 700;
  font-size: 20px;
  color: #262b31;
  line-height: 1.14;
}

.tag,
.location {
  color: var(--color-text-grey);
  font-size: 15px;
}

.label {
  color: var(--color-text-grey);
  font-size: 13px;
  line-height: 0.8;
}

.quantity {
  font-weight: 700;
  color: var(--color-text-dark);
}
