.statistics {
  display: block;
  width: 350px;
  margin: auto;
  margin-top: 70px;
  border-radius: 25px;
}

.title {
  text-transform: uppercase;
  font-size: 20px;
  display: block;
  background-color: #fff;
  padding: 30px;
  text-align: center;
  color: #a3b9e3;
  margin: 0;
}

.statList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(60px, auto);
  list-style: none;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;
  border-radius: 0 0 5px 5px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 70px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #a3b9e3;
}

.label,
.percentage {
  color: #fff;
}

.percentage {
  font-size: 20px;
}
